services:
  edulution-mail:
    image: ghcr.io/edulution-io/edulution-mail:latest
    restart: always
    container_name: edulution-mail
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /srv/docker/edulution-mail:/srv/docker/edulution-mail
    environment:
      MAILCOW_HOSTNAME: <EDULUTION_MAIL_HOSTNAME>
      DOMAIN_QUOTA: 103809024
      MAILCOW_PATH: /srv/docker/edulution-mail
      KEYCLOAK_SECRET_KEY: ${KEYCLOAK_EDU_MAILCOW_SYNC_SECRET}
      MAILCOW_BRANCH: legacy
      MAILCOW_API_TOKEN: ${MAILCOW_API_TOKEN}
