services:
  edulution-guacamoledb:
    container_name: edulution-guacamoledb
    image: ghcr.io/edulution-io/edulution-guacamole-db:latest
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${EDULUTION_GUACAMOLE_MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: "guacamole_db"
      MYSQL_USER: "guacamole_user"
      MYSQL_PASSWORD: ${EDULUTION_GUACAMOLE_MYSQL_PASSWORD}
      ADMIN_PASSWORD: ${EDULUTION_GUACAMOLE_ADMIN_PASSWORD}
    volumes:
      - guacdb-data:/var/lib/mysql

  edulution-guacd:
    container_name: edulution-guacd
    image: guacamole/guacd:1.6.0
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"

  edulution-guacamole:
    container_name: edulution-guacamole
    image: guacamole/guacamole:1.6.0
    restart: unless-stopped
    environment:
      GUACD_HOSTNAME: "edulution-guacd"
      MYSQL_HOSTNAME: "edulution-guacamoledb"
      MYSQL_DATABASE: "guacamole_db"
      MYSQL_USER: "guacamole_user"
      MYSQL_PASSWORD: ${EDULUTION_GUACAMOLE_MYSQL_PASSWORD}
      TOTP_ENABLED: "false"
      QUICKCONNECT_ENABLED: "true"
    depends_on:
      - edulution-guacamoledb
      - edulution-guacd
    volumes:
      - /srv/docker/edulution-ui/data/apps/desktopdeployment/edulution-guacamole/config:/home/guacamole

volumes:
  guacdb-data:

networks:
  edulution-ui_default:
